.menu {
    width: 64px;
    padding: 40px 0 15px 0;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__icon {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;

        span {
            display: block;
            width: 24px;
            height: 3px;
            border-radius: 1.5px;
            background-color: #ffffff;
            position: relative;
            transition: all 0.5s ease;

            &::before,
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                border-radius: 1.5px;
                background-color: #ffffff;
                position: absolute;
                left: 0;
            }

            &::before {
                top: -8px;
            }

            &::after {
                top: 8px;
            }
        }

        &.opened {
            span {
                transform: rotate(45deg);
                
                &::before {
                    transform: translateY(8px) rotate(-90deg);
                }
                
                &::after {
                    transform: translateY(-8px) rotate(90deg);
                }
            }
        }
    }

    &__lang_switch {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        line-height: 48px;
        text-align: center;
        color: #0EC261;
        font-size: 13px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid transparent;
        box-sizing: border-box;
        cursor: default;
        background: transparent;

        &:hover {
            color: #eeeeee;
            border-color: #eeeeee;
        }

        &:active {
            color: #0EC261;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        margin-bottom: 38px;
    }

    &__link {
        text-transform: uppercase;
        font-size: 32px;
        line-height: 37px;
        color: #ffffff;
        transform: translateY(-1000px);
        transition-property: color, transform;
        transition-duration: 0.1s, 0.3s;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:hover {
            color: #0EC261
        }

        &.opened {
            transform: translateY(0);
        }
    }

    &__socials {
        display: flex;
    }

    &__social {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transform: translateX(-1000px);
        transition-property: transform;
        transition-duration: 0.5s;

        svg {
            path{
                transition: fill 0.2s;
            }
        }

        &:not(:last-child) {
            margin-right: 24px;
        }

        &:hover {
            svg {
                path {
                    fill:#0EC261;
                }
            }
        }

        &.opened {
            transform: translateX(0);
        }
    }
}

.opened_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    transform: scale(0);
    opacity: 0;
    z-index: 1;
    background: 
        url("../../assets/images/menu_background_dark.png") no-repeat,
        url("../../assets/images/menu_background.png") no-repeat;
    padding: 307px 128px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    transition: all 0.2s;

    &.opened {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1440px) {
    .opened_menu {
        background-position: left -138px top 0, top left;
}
}

@media (max-width: 1024px) {
    .opened_menu {
        background: 
            url("../../assets/images/menu_background_dark.png") no-repeat;
    }
}

@media (max-width: 768px) {
    .menu {
        background-color: transparent;
        padding: 0;
        width: 0;
        height: 0;

        &__lang_switch {
            position: absolute;
            bottom: 8px;
            left: 8px;
            z-index: 2;
            opacity: 0;
            transition: opacity 0.2s;

            &.opened {
                opacity: 1;
                transition-delay: 0.8s;
            }
        }

        &__icon {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 20px;
            left: 20px;

            span {
                background-color: #121212;

                &::before,
                &::after {
                    background-color: #121212;
                }
            }

            &.opened {
                span {
                    background-color: #ffffff;
    
                    &::before,
                    &::after {
                        background-color: #ffffff;
                    }
                }    

            }              
        }
      }

    .opened_menu {
        padding: 80px 28px;
    }
}