@import "../../variables";

.order_content {
    &__location {
        font-family: $fontLight;
        font-size: $fontSizeSimpleText;
        line-height: $lineHeightSimpleText;
        color: $mainBlackColor;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .location_inputs {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &__item {
                position: relative;
                display: flex;
                align-items: center;
    
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
    
                label {
                    margin-right: 8px;
                }
            }

            &__value {
                width: 224px;
                border-bottom: 1px solid $darkGreyColor;
                display: flex;
                position: relative;
    
                input {
                    border: none;
                    padding: 3px 8px;
                    box-sizing: border-box;
                    color: $darkGreyColor;
                    flex-grow: 1;
    
                    &:focus {
                        outline: none;
                        color: $mainBlackColor;
                    }
                }
    
                .clear_input {
                    content: url("../../assets/images/close_icon.svg");
                    right: 8px;
                    cursor: pointer;
                    margin-right: 8px;
                }
            }
            
            &__selector {
                position: absolute;
                width: 100%;
                left: 0;
                top: 100%;
                height: 0;
                opacity: 0;
                overflow: auto;
                display: flex;
                flex-direction: column;
                padding: 8px 8px;
                box-sizing: border-box;
                background-color: $whiteColor;
                border: 1px solid $lightkGreyColor;
                transition: all 0.3s ease-in;

                li:not(:last-child) {
                    margin-bottom: 8px;
                }

                li {
                    &:hover {
                        cursor: default;
                        color: $mainAccentColor;
                    }
                }

                &.active {
                    max-height: 106px;
                    height: auto;
                    opacity: 1;
                    z-index: 1;
                }
            }

        }

        .map {
            margin-top: 48px;
            width: 732px;
            height: 352px;

            &__heading {
                margin-bottom: 16px;
            }
        }
    }
}

.ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-copyright.ymaps-2-1-79-copyright_logo_no,
.ymaps-2-1-79-balloon.ymaps-2-1-79-balloon_layout_panel.ymaps-2-1-79-i-custom-scroll.ymaps-2-1-79-islets_balloon_layout_panel {
    display: none;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}

@media (max-width: $desctopSize) {
    .order_content {
        &__location {
            .map {
                width: 500px;
            }
        }
    }
}

@media (max-width: $desctopMinSize) {
    .map {
        display: none;
    }
}