@import "../../variables";

.order_content {
    &__location {
        font-family: $fontLight;
        font-size: $fontSizeSimpleText;
        line-height: $lineHeightSimpleText;
        color: $mainBlackColor;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .location_inputs {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

        }

        .map {
            margin-top: 48px;
            width: 732px;
            height: 352px;

            &__heading {
                margin-bottom: 16px;
            }
        }
    }
}

.ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-copyright.ymaps-2-1-79-copyright_logo_no,
.ymaps-2-1-79-balloon.ymaps-2-1-79-balloon_layout_panel.ymaps-2-1-79-i-custom-scroll.ymaps-2-1-79-islets_balloon_layout_panel {
    display: none;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}

@media (max-width: $desctopSize) {
    .order_content {
        &__location {
            .map {
                width: 500px;
            }
        }
    }
}

@media (max-width: $desctopMinSize) {
    .map {
        display: none;
    }
}