@import "../../_variables.scss";

.page_header {
    padding: 32px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: $fontBold;
    color: $mainAccentColor;
    font-size: $fontSizeLogo;
    line-height: $lineHeightLogo;
}

.location {
    font-family: $fontRegular;
    font-size: $fontSizeLocation;
    line-height: $lineHeightLocation;  
    color: $darkGreyColor;
    display: flex;
    align-items: center;

    &__icon {
        margin-right: 7px;
    }

    &__locality {
        font-size: $fontSizeLocation;
        line-height: $lineHeightLocation;  
        color: $darkGreyColor;

        &:focus {
            border-bottom: 1px solid $darkGreyColor;
        }
    }
}

@media (max-width: $tabletSize) {
    .page_header {
        padding: 16px;
        flex-direction: column;
        align-items: flex-end;
    }

    .logo {
        margin-bottom: 9px;
    }
}