@import "../../../variables";

.home_content {
    flex-grow: 1;
    padding: 131px 64px;

    &__title {
        font-family: $fontBold;
        font-size: $fontSizeMainHeading;
        line-height: $lineHeightMainHeading;
        color: $mainBlackColor;

        span {
            color: $mainAccentColor;
        }
    }

    &__desc {
        font-family: $fontLight;
        margin-top: 34px;
        font-size: $fontSizeMainDesc;
        line-height: $lineHeightMainDesc;
        color: $darkGreyColor;
        margin-bottom: 60px;
    }
}

@media (max-width: $desctopSize) {
  .home_content {
    padding: 131px 32px;
  }
}

@media (max-width: $tabletSize) {
    .home_content {
        padding: 0;

        &__title {
            margin: 18px 16px;
            font-size: $fontSizeMainHeading--mobile;
            line-height: $lineHeightMainHeading--mobile;
        }

        &__desc {
            margin: 16px 16px 32px;
            font-size: $fontSizeMainDesc--mobile;
            line-height: $lineHeightMainDesc--mobile;
        }
      }
}