@import "../../variables";

.order_content {
    &__options {
        font-family: $fontLight;
        font-size: $fontSizeSimpleText;
        line-height: $lineHeightSimpleText;
        color: $darkGreyColor;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .option {
            &__title {
                color: $mainBlackColor;
                margin-bottom: 16px;
            }

            &__content {
                display: flex;
                flex-direction: column;
            }

            &:not(:last-child) {
                margin-bottom: 32px;
            }

            &__item {
                margin-left: 20px;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                input[type="checkbox"] {
                    display: none;
        
                    &:checked + label {
                        color: $mainBlackColor;

                        &::before {
                            border: 1px solid $mainAccentColor;
                        }

                        &::after {
                            background: url("../../assets/images/check_icon.svg") 2px 0 no-repeat;
                        }
                    }
                }
                
                input[type="checkbox"] + label {
                    position: relative;
                    cursor: pointer;
        
                    &::before,
                    &::after {
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(-100%, -50%);
                        transition: border 0.1s ease-in;
                    }
        
                    &::before {
                        border: 1px solid $darkGreyColor;
                        box-sizing: border-box;
                        left: -8px;
                    }
        
                    &::after {
                        width: 20px;
                        left: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

.date_filter {
    align-items: flex-end;
}