* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.app {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.home_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}